<div class="center hero-unit">

	<div id="carrossel" class="carousel slide">

	  <!-- Carousel items -->
	  <div class="carousel-inner">

	    <div class="active item">
	    	<%= image_tag("blonde_hair.jpg", alt: "Loira com cabelo encaracolado") %>
	    </div>

	    <div class="item">
	    	<%= image_tag("afro_hair.jpg", alt:"Morena com cabelo afro") %>
	    </div>

	    <div class="item">
	    	<%= image_tag("wedding.jpg", alt:"Noiva") %>
<!-- 	    	<div class="carousel-caption">
	    		<h4>Dia da Noiva</h4>
	    	</div> -->
	    </div>

	    <div class="item">
	    	<%= image_tag("makeup.jpg", alt:"Maquiagem") %>
	    </div>

	    <div class="item">
	    	<%= image_tag("esthetics.jpg", alt:"Estética") %>
	    </div>

	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#carrossel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#carrossel" data-slide="next">&rsaquo;</a>
	</div>

<!-- 	<br><br>

	<h2>Testando elementos para o site</h2><br><br>
	<div class="post-it">
		<h2>Teste de Post-it</h2>
		<ul>
			<li>* foo</li>
			<li>* bar</li>
		</ul>
	</div>

	<br><br>


	<br><br><br>

	<iframe width="700" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=av.+marechal+tito,+2185&amp;aq=&amp;sll=-23.49511,-46.433222&amp;sspn=0.003021,0.00456&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Mal.+Tito,+2185+-+Vila+Curu%C3%A7%C3%A1,+S%C3%A3o+Paulo,+08022-000&amp;ll=-23.494328,-46.424624&amp;spn=0.00152,0.00228&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=av.+marechal+tito,+2185&amp;aq=&amp;sll=-23.49511,-46.433222&amp;sspn=0.003021,0.00456&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Mal.+Tito,+2185+-+Vila+Curu%C3%A7%C3%A1,+S%C3%A3o+Paulo,+08022-000&amp;ll=-23.494328,-46.424624&amp;spn=0.00152,0.00228&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
 -->
</div>

