<div class="center hero-unit">

	<div id="carrossel" class="carousel slide">

	  <!-- Carousel items -->
	  <div class="carousel-inner">

	    <div class="active item">
	    	<%= image_tag("blonde_hair.jpg", alt: "Loira com cabelo encaracolado") %>
	    </div>

	    <div class="item">
	    	<%= image_tag("afro_hair.jpg", alt:"Morena com cabelo afro") %>
	    </div>

	    <div class="item">
	    	<%= image_tag("wedding.jpg", alt:"Noiva") %>
<!-- 	    	<div class="carousel-caption">
	    		<h4>Dia da Noiva</h4>
	    	</div> -->
	    </div>

	    <div class="item">
	    	<%= image_tag("makeup.jpg", alt:"Maquiagem") %>
	    </div>

	    <div class="item">
	    	<%= image_tag("nails.jpg", alt:"Unhas") %>
	    </div>

	    <div class="item">
	    	<%= image_tag("esthetics.jpg", alt:"Estética") %>
	    </div>

	  </div>
	  <!-- Carousel nav -->
<!-- 	  <a class="carousel-control left" href="#carrossel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#carrossel" data-slide="next">&rsaquo;</a> -->
	</div>

<!-- 	<br><br>

	<h2>Testando elementos para o site</h2><br><br>
	<div class="post-it">
		<h2>Teste de Post-it</h2>
		<ul>
			<li>* foo</li>
			<li>* bar</li>
		</ul>
	</div>

	<br><br>
 -->

</div>

