<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="brand">
				<%= link_to image_tag("studiobellefiori3.jpg", alt: "Studio Belle Fiori"), '#', id: "logo" %>
			</div>
			<div class="pull-right" id="social-networks">
				<%= link_to image_tag("facebook.png", alt: "Facebook"), 'http://www.facebook.com/' %>
				<%= link_to image_tag("twitter.png", alt: "Twitter"), 'http://www.twitter.com/' %>
				<%= link_to image_tag("youtube.png", alt: "YouTube"), 'http://www.youtube.com/' %>
			</div>
			<nav id="menu">
				<ul class="nav pull-right">
					<li><%= link_to "salão", '#' %></li>
					<li><%= link_to "looks", '#' %></li>
					<li><%= link_to "estética", '#' %></li>
					<li><%= link_to "noivas", '#' %></li>
					<li><%= link_to "contato", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
